p, h2{
    font-family: 'W95FA', sans-serif;
}

header {
    background-color: #6666FF;
}

header div#microsoft80 img {
    display: inline;
}

header img#menuLateral{
    border:#000 2px solid;
    border-left: 6px solid #000;
}

header img#diminuirTamanho{
    border:#000 2px solid;
    border-right: 6px solid #000;
}

nav a {
    border-right: #000 solid 2px;
    text-decoration: none;
    padding: 0 4px 0 4px;
    margin: 0;
}

nav {
    display: flex;
    position: sticky;
    align-items: flex-start;
    border-left: #000 solid 6px;
    border-right: #000 solid 6px;
}

main {
    height: 85%;
}

section {
    height: 100%;
    border: #000 solid 6px;
    border-top: #000 solid 2px;
}

main section#Momento {
    display: flex;
    flex-direction: row;
}

#left,
#right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

main section#Momento div#left{
    display: flex;
    flex-direction: column;
}

main section#Momento div#left img{
    height: 100%;
    width: 3.5em;
    background-color: #000;
    margin: 1em;
}

main section#Momento div#left a.topicos{
    text-decoration: none;
    display: flex;
    align-items: center;
}

main section#Momento div#left a.topicos p{
    padding: 1em;
    display: flex;
    background-color: black;
    color: white;
}

main section#Momento div#right{
    display: flex;
    flex-direction: column;
}

main section#Momento div#right img{
    width: 75%;
}

main section#Momento div#right p{
    padding: 1em;
    width: 75%;
    text-align: justify;
    background-color: yellow;
}

#Windows{
    display: flex;
    text-align: center;
    flex-direction: column;
}

#Windows img{
    margin: 1.5vh auto;
    width: 40%;
}

#Windows p{
    width: 50%;
    text-align: justify;
    background-color: #ff0;
    color: #000;
    padding: 1em;
}
.miniheader{
    width: 100%;
    background-color: #6666FF;
    display: flex;
    height: calc(1.6875em + 0.5vh);
    align-items: center;
}
h2{
    background-color: #000;
    color: white;
}

#apple{
    display: flex;
    align-items: center;
    height: calc(100% - (1.6875em + 0.5vh));
}

#Batalha div div{
    flex: 60%;
}

#TextoApple{
    width: 75%;
    padding: 1em;
    background-color: #000;
    color: #fff;
}

#Batalha img{
    width: 60%;
}

#Batalha figcaption{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 40%;
}

#conteudo{
    height: calc(100% - (1.6875em + 0.5vh));
    width: 100%;
    display: flex;
    flex-direction: row;
}

#LadoIBM, #LadoMS{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.LogoMarca{
    width: 80%;
}

.LogoMarca img{
    width: 100%;
}

.TextoMarca p{
    width: 75%;
}

