@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: 'VT323', monospace;
    color: #fff;
    text-decoration: none;
}

#comandos p {
    color: #fff;
    
}
body {
    background-color: #000;
}
main {
    background-color: #000;
    width: 100%;
    font-size: 1.5rem;
}

#comando {
    background-color: transparent; border: solid transparent; color: #fff;
    font-size: 1.5rem;
}

#fakeheader img{
    filter: invert(100%);
}

label {
    color: #fff;
    font-size: 1.5rem;
}

#resposta {
    display: none;
}