:root {
    --mono-100: #c3c3c3;
}

* {
    font-family: 'W95FA', sans-serif;
    margin: 0;
}

section#fakeheader{
    background-color: #c0c0c0;
}

main {
    width: 100%;
    height: calc(100% - (10% + 7vh));
    background-color: #008282;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.elemento {
    display: grid;
    place-items: center;
}

.elemento a {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.icon_desktop {
    background-color: #c0c0c0;
    
}

.icon_desktop img {
    width: 100%;
}

#esquerda {
    flex: 20%;
    display: grid;
    place-items: center;
}

#direita {
    flex: 80%;
    display: grid;
    place-items: center;
}

#pop_up-office {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 39vw;
    background: var(--mono-100, #C3C3C3);
    box-shadow: -4px -4px 0px 0px #7E7E7E inset, 2px 2px 0px 0px #F0F0F0 inset, -2px -2px 0px 0px #262626 inset;
}

#office_img {
    width: 75%;
    margin-top: 1rem;
}

#wordpad_icon {
    padding: 7px;
}

#botao_office a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: #000;
    font-family: 'W95FA', sans-serif;
}

#elementos_footer a {
    text-decoration: none;
    color: #000;
}

#botao_office {
    display: flex;
    align-items: center;
    justify-content: center;
    direction: row;
    margin: 10px;
    background-color: #C3C3C3;
    box-shadow: 4px 4px 0px 0px #B1B1B1 inset, -4px -4px 0px 0px #7E7E7E inset, 2px 2px 0px 0px #F0F0F0 inset, -2px -2px 0px 0px #262626 inset;
}

footer {
    width: 100%;
    background: var(--mono-100, #C3C3C3);
    box-shadow: 2px 2px 0px 0px #F0F0F0 inset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#elementos_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#elementos_footer div {
    background: var(--mono-100, #C3C3C3);
    box-shadow: 4px 4px 0px 0px #B1B1B1 inset, -4px -4px 0px 0px #7E7E7E inset, 2px 2px 0px 0px #F0F0F0 inset, -2px -2px 0px 0px #262626 inset;
}

