    @import url('https://fonts.cdnfonts.com/css/w95fa');

    * {
        margin: 0 auto;
        padding: 0 auto;
        box-sizing: border-box;
    }

    html, body {
        height: 100%;
    }


    header {
        display: flex;
        justify-content: space-between;
        height: 10%;
    }

    header div.microversoes {
        flex: 20%;
        display: flex;
        align-items: center;
    }

    header div.microversoes img {
        height: 100%;
        display: none;
    }

    header div.microversoes a {
        height: 100%;
        width: 100%;
        display: flex;
        padding: 1vw;
        align-items: center;
        justify-content: center;
    }

    header div#microsoft70 img {
        filter: invert(100%);
    }
    